$breakpoint-desktop-large: 2145px; /* 1920px banner size */
$breakpoint-desktop: 1350px; /* 1125px */
$breakpoint-tablet: 1059px; /* 834px */
$breakpoint-mobile-large: 577px; /* 384px */
$breakpoint-mobile: 513px; /* 320px */
